- if logged_in?

  #title
    %span#title-p Mes dernières courses
    %a{:href=>'/run/add',:class=>'awesome'}Nouvelle course
    - if @runs.any?
      %a{:href=>'/run/stats',:class=>'awesome'}Mes stats

  - if @runs.any?
    - @runs.each do |run|
      - dureeH,dureeM,dureeS = format_toDuree(run.duree)
      .summary
        .the_date
          .date_m #{moisFR(run.date.month) }
          .date_d #{run.date.day}
        %table
          %thead
            %tr
              %td{:width=>"33%"} Temps
              %td{:width=>"27%"} Distance
              %td{:width=>"40%"} Commentaires
          %tbody
            %td
              %span #{dureeH}
              H
              %span #{dureeM}
              m
              %span #{dureeS}
              s
            %td
              %span #{format_toKM(run.distance)}
              - if run.distance != 0
                km
            %td
              #{run.commentaires[0..50]}
              - if run.commentaires != "" && run.commentaires.size > 50
                %span{:class=>"tip",:tooltip=>"#{run.commentaires}"} [...]

    - if Integer(@offset) == 0
      - if @end == "False"
        .pagination
          .INforward
            %a{:href=>"/pages/#{(Integer(@offset)+1).to_s()}",:id=>'forward',:class=>'awesome'}
              Page Suivante
    - else
      .pagination
        - if @end == "False"
          .INforward
            %a{:href=>"/pages/#{(Integer(@offset)+1).to_s()}",:id=>'forward',:class=>'awesome'}
              Page Suivante
        .INrewind
          %a{:href=>"/pages/#{(Integer(@offset)-1).to_s()}",:id=>'rewind',:class=>'awesome'}
            Page Précédente


  - else
    %p 
      Vous n'avez aucune course enregistrée pour l'instant.
      %a(href='/run/add')Souhaitez-vous en rajouter une ?


- else
  %h2 A propos
  %p
    Zenrunnin' est une application simple de suivi de vos courses, utilisant votre compte facebook pour partager vos performances avec vos amis et connaître les leurs.
  %p
    Le site Zenrunnin' est à la base un petit projet pour jouer avec les API facebook et mieux les connaître - il n'a pas vocation à devenir payant et bien que sérieusement testé et validé, il reste sans garantie sur sa pérénité ou sur les anomalies.

  %p
    Pour les geeks: Zenrunnin' est écrit en #{link_to("Ruby","http://www.ruby-lang.org/fr/")}, utilise le framework #{link_to("Sinatra","http://www.sinatrarb.com/")}, et la librairie #{link_to("Koala","https://github.com/arsduo/koala")} pour accéder à Facebook tout en étant hébergé sur #{link_to("Heroku","http://www.heroku.com/")}.

:javascript
  // Create the tooltips only on document load
  $(document).ready(function()
  {
    // Notice the use of the each() method to acquire access to each elements attributes
    $('span.tip').each(function()
    {
      $(this).qtip({
        content: $(this).attr('tooltip'), // Use the tooltip attribute of the element for the content
        style: {
        name: 'cream',
        padding: '7px 13px',
        width: {
          max: 300,
          min: 0
        },
        tip: true
      }
      });
   });
  });

