#title
  %span#title-p Mes statistiques
  - dureeH,dureeM,dureeS = format_toDuree(@runDuree.duree)
    
.summary
  %table{:class=>"big"}
    %thead
      %tr
        %td{:width=>"33%"} Le meilleur temps
        %td{:width=>"33%"} La plus grande distance
        %td{:width=>"33%"} La vitesse la plus élevée
    %tbody
      %tr
        %td
          %span #{dureeH}
          H
          %span #{dureeM}
          m
          %span #{dureeS}
          s
        %td
          %span 
            - if @runDistance.distance > 0
              #{format_toKM(@runDistance.distance)}
          km
        %td
          %span 
            -if @runVitesse.distance > 0
              #{"%.2f" % (@runVitesse.distance/@runVitesse.duree)}
          km/h
      %tr
        %td #{format_to_niceDate(@runDuree.date)}
        %td 
          - if @runDistance.distance > 0
            #{format_to_niceDate(@runDistance.date)}
        %td 
          - if @runVitesse.distance > 0
            #{format_to_niceDate(@runVitesse.date)}
 

%h3 Durée de vos courses (en heure)
#placeholderDuree{:style=>"width:690px;height:200px"}
  
%h3 Distance de vos courses (en kilomètre)
#placeholderDistance{:style=>"width:690px;height:200px"}

%h3 Vitesse moyenne de vos courses (en kilomètre/heure)
#placeholderVitesse{:style=>"width:690px;height:200px"}


- if @runDuree.duree < 1
  = ticksGraph = [[0, "0"], [0.25, "15min"],  [0.5, "30min"],  [0.75, "45min"], [1, "1H"] ]
- elsif @runDuree.duree < 2
  = ticksGraph = [[0, "0"], [0.5, "30min"], [1, "1H"], [1.5, "1H30"], [2, "2H"] ]
- elsif @runDuree.duree < 3
  = ticksGraph = [[0, "0"], [0.5, "30min"], [1, "1H"], [1.5, "1H30"], [2, "2H"], [2.5, "2H30"], [3, "3H"]  ]
- else @runDuree.duree < 3
  = ticksGraph = [[0, "0"], [0.5, "30min"], [1, "1H"], [1.5, "1H30"], [2, "2H"], [2.5, "2H30"], [3, "3H"], [3.5, "3H30"], [4, "4H"]  ]



:javascript
  $(function () {
    var duree = #{@runStatsDuree};
    var distance = #{@runStatsDistance};
    var vitesse = #{@runStatsVitesse};
    var ticks = #{ticksGraph}

    $.plot($("#placeholderDuree"), 
            [
              { label: "duree",  data: duree}
            ], 
            { 
              xaxis: { mode: "time", timeformat: "%0d/%0m/%y", minTickSize: [1, "day"] },
              yaxis: { ticks: ticks,  min: 0 },
              grid: {backgroundColor: { colors: ["#fff", "#eee"] }},
              series: {lines: { show: true},points: { show: true }},
              colors: ["#FF0000"]
            }

    );
    $.plot($("#placeholderDistance"), 
            [
              { label: "distance",  data: distance}
            ], 
            { 
              xaxis: { mode: "time", timeformat: "%0d/%0m/%y", minTickSize: [1, "day"] },
              yaxis: { ticks: 1, min: 0 },
              grid: {backgroundColor: { colors: ["#fff", "#eee"] }},
              series: {lines: { show: true },points: { show: true }},
              colors: ["#009999"]

            }

    );
    $.plot($("#placeholderVitesse"), 
            [
              { label: "vitesse",  data: vitesse}
            ], 
            { 
              xaxis: { mode: "time", timeformat: "%0d/%0m/%y", minTickSize: [1, "day"] },
              yaxis: { ticks: 1, min: 0 },
              grid: {backgroundColor: { colors: ["#fff", "#eee"] }},
              series: {lines: { show: true },points: { show: true }},
              colors: ["#9FEE00"]

            }

    );


  });

